.header {
    background-color: #f2f2f2;
    padding: 20px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__nav h3 {
    margin-right: 20px;
}

.categorias {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.Option {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.ActiveOption {
    margin-right: 10px;
    color: #333;
    text-decoration: underline;
}